# KDD Census-Income Dataset

## Importing Libraries

In [4]:
import numpy as np
import pandas as pd
import re

#for EDA
from ydata_profiling import ProfileReport

#for visualization
import seaborn as sns
import matplotlib as plt
%matplotlib inline

#for preprocessing
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

#for model
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier as knn
from sklearn.naive_bayes import GaussianNB as nb
from sklearn.linear_model import LogisticRegression as lr
from sklearn.tree import DecisionTreeClassifier as dt 
from sklearn.svm import SVC as vc
import sklearn.metrics as sm

## Loading the Dataset

### Importing data

In [3]:
Census_data = pd.read_csv('data/census-income.data')
Census_data.head()

   73                  Not in universe   0   0.1  ...  2   0.8  95   - 50000.
0  58   Self-employed-not incorporated   4    34  ...  2    52  94   - 50000.
1  18                  Not in universe   0     0  ...  2     0  95   - 50000.
2   9                  Not in universe   0     0  ...  0     0  94   - 50000.
3  10                  Not in universe   0     0  ...  0     0  94   - 50000.
4  48                          Private  40    10  ...  2    52  95   - 50000.

[5 rows x 42 columns]

As we can see, the data currently has no column name. We need to import them from other file called 'census-income.names'.

In [6]:
col_names = ['AAGE', 'ACLSWKR', 'ADTIND', 'ADTOCC', 'AGI', 'AHGA', '']
print(col_names)
print(len(col_names))

['- 50000, 50000+.', 'age', 'class of worker', 'detailed industry recode', 'detailed occupation recode', 'education', 'wage per hour', 'enroll in edu inst last wk', 'marital stat', 'major industry code', 'major occupation code', 'race', 'hispanic origin', 'sex', 'member of a labor union', 'reason for unemployment', 'full or part time employment stat', 'capital gains', 'capital losses', 'dividends from stocks', 'tax filer stat', 'region of previous residence', 'state of previous residence', 'detailed household and family stat', 'detailed household summary in household', 'instance weight', 'migration code-change in msa', 'migration code-change in reg', 'migration code-move within reg', 'live in this house 1 year ago', 'migration prev res in sunbelt', 'num persons worked for employer', 'family members under 18', 'country of birth father', 'country of birth mother', 'country of birth self', 'citizenship', 'own business or self employed', "fill inc questionnaire for veteran's admin", 'veterans benefits', 'weeks worked in year']
41